.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    margin-bottom: 10px;
    padding: 10px;
}
.form-signin .form-control:focus {
    z-index: 2;
}

.small_bottom{
    margin-bottom: 0px;
    margin-top: 10px;

}

.medium_bottom{
    margin-bottom: 10px;
    margin-top: 10px;
}

.profile-icon{
    font-size: 19px;
    margin-top: 8px;
}
